html, body {
    margin: 0;
    height: 100%;
    width: 100%;
}

.wrapper {
    height: 100%;
    width: 100%;
    background-color: rgb(54, 54, 54);
}



.header {
    background-color: rgba(108, 85, 150, 0.7);
    
}
    
    

.header__nav {
    list-style: none;
    display: flex;
    margin: 0;
    justify-content: center;
    
}
.header__nav a {
    text-decoration: none;
    color: inherit;
}


.header__nav-item {
    font-size: 2rem;

}


.header__nav-item:not(:first-child):not(:last-child) {
    margin: 0 13rem;
}
