/*STYLES FOR WRAPPERS AND ROOT ELEMENTS*/

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    justify-content: center;
    background-color: #808080;

}

.wrapper {
    height: 100vh;
    width: 1200px;
    
}


/*HEADER AND NAVIGATION*/

.header {
    background-color: rgba(88, 88, 88, 0.7);
    
}
    
    
.header__nav {
    height:  123px;
    list-style: none;
    display: flex;
    margin: 0;
    justify-content: center;
    align-items: center;
    padding-inline-start: 0;
    
    
}
.header__nav-item a {
    display: block;
    padding: 30px 20px; /* Adjusted padding */
    text-decoration: none;
    color: inherit;
    border: 4px solid black; 
}


.header__nav-item {
    font-size: 3rem;
    width: 230px;
    text-align: center;

}


.header__nav-item:not(:first-child):not(:last-child) {
    margin: 0 25%;
}


/* MAIN CONTENT SECTION. EVERYTHING BETWEEN HEADER AND FOOTER*/


.main-content {
    height: 90vh;
}

.main-content__hero {
    position: relative;
    display: flex;
    justify-content: center;
    height: 35vh;
    overflow: hidden;
    margin-bottom: 20px;
}

.main-content__hero-logo {
    position: absolute;
    top: 5rem;
    width: 10rem;
    height: auto;
    align-self: center;
    
}

.main-content__hero img:nth-child(1) {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    object-position: 50% 85%;
}




.main-content__section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-content: space-between;
}

.main-content__box {
    height: 16rem;
    width: 35rem;
    background-color: rgba(108, 85, 150, 0.7);
    
}

.main-content__box:nth-child(even) {
    justify-self: end;
}



@media screen and (max-height: 1000px) {
    .main-content__hero {
        height: 350px;
        width: auto;
        
    }


    
}

